.bg-hero-pattern {
  background-image: url('/images/hero_bg.png');
  background-size: cover;
  background-position: center;
}

.hero-mockup {
  position: absolute;
  left: 50%;
  bottom: -100px;
  transform: translate(-50%, 0);
  z-index: 1;
  max-width: 1100px;
}

.hero-mockup-bg {
  position: relative;
  left: 0;
  bottom: -5px;
  width: 100%;
  margin-top: 400px;
}

.search-box {
  border: none;
}

.search-box:focus {
  --tw-ring-inset: none;
}

/* Add this to your global CSS file (e.g., styles/globals.css) */

.custom-checkbox {
  background-color: #fff;
  border: 2px solid #1d4ed8; /* Blue border */
  border-radius: 5px;
  width: 25px;
  height: 25px;
  display: inline-block;
  position: relative;
}

.custom-checkbox:checked::after {
  color: #1d4ed8;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
}

/* Hero mockup image customization in the Home page */

.mockup-image {
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
  z-index: 2;
  width: 100%;
}

@media (min-width: 768px) {
  .mockup-image {
    max-width: 700px;
  }
}

@media (min-width: 1024px) {
  .mockup-image {
    bottom: 4px;
    max-width: 700px;
  }
}

@media (min-width: 1280px) {
  .mockup-image {
    bottom: 36px;
    max-width: 900px;
  }
}

@media (min-width: 1420px) {
  .mockup-image {
    bottom: 48px;
    max-width: 1000px;
  }
}

@media (min-width: 1690px) {
  .mockup-image {
    bottom: 96px;
    max-width: 1100px;
  }
}
