.bg-hero-pattern {
  background-image: url('/images/hero_bg.png');
  background-size: cover;
  background-position: center;
}

.hero-mockup {
  position: absolute;
  left: 50%;
  bottom: -100px;
  transform: translate(-50%, 0);
  z-index: 1;
  max-width: 1100px;
}

.hero-mockup-bg {
  position: relative;
  left: 0;
  bottom: -5px;
  width: 100%;
  margin-top: 400px;
}

.search-box {
  border: none;
}

.search-box:focus {
  --tw-ring-inset: none;
}

/* Add this to your global CSS file (e.g., styles/globals.css) */

.custom-checkbox {
  background-color: #fff;
  border: 2px solid #1d4ed8; /* Blue border */
  border-radius: 5px;
  width: 25px;
  height: 25px;
  display: inline-block;
  position: relative;
}

.custom-checkbox:checked::after {
  color: #1d4ed8;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
}
